@{
    ViewBag.Title = "Strona o mnie";
}
<h2>@ViewBag.Title</h2>
<div class="mytitlediv">
    <p>
        Jestem studentem 6 semetru informatyki<br /> Politechniki Poznańskiej, wydziału Informatyki,<br />
        a to jest strona na przedmiot Aplikacje Internetowe
    </p>
</div>
