@{
    ViewBag.Title = "Strona o mnie";
}

<div class="myh2title">
    @ViewBag.Title
</div>
<div class="col-sm-11 col-md-9 col-lg-8 mytitlediv">
    <p>
        Jestem studentem 6 semetru informatyki<br /> Politechniki Poznańskiej, wydziału Informatyki,<br />
        a to jest strona na przedmiot Aplikacje Internetowe
    </p>
</div>
