@{
    ViewBag.Title = "Kontakt";
}

<div class="myh2title">
    @ViewBag.Message
</div>
<div class="col-sm-11 col-md-9 col-lg-8  mytitlediv">
    <address>
        <strong>Michał Hejduk</strong><br />
        ul. Święty Marcin 51<br />
        Poznań 61-619<br />
        <abbr title="Firmowy"><strong>Telefon:</strong></abbr>
        592-521-921<br />
        <strong>E-mail: </strong>   <a href="michal.hejduk@turniejowo.com">michal.hejduk@turniejowo.com</a>
    </address>
</div>