@{
    ViewBag.Title = "Kontakt";
}
<h3>@ViewBag.Message</h3>

<div class="mytitlediv">
<address>
    Michał Hejduk<br />
    ul. Święty Marcin 51<br />
    Poznań 61-619<br />
    <abbr title="Firmowy">Telefon:</abbr>
    592-521-921<br />
    <strong>E-mail</strong>   <a href="michal.hejduk@turniejowo.com">michal.hejduk@turniejowo.com</a> 
</address>
</div>