@{
    ViewBag.Title = "Więcej informacji";
}
<h2>@ViewBag.Message</h2>
<div class="mytitlediv">
    <p>
        Dzięki utworzeniu konta na naszej stronie Twoje życie będzie lepsze! <br />
        Zdasz sobie sprawę, że organizacja, a także przeglądanie turniejów<br />
        jeszcze nigdy nie była taka łatwe!<br />
        Strona ta pozwoli Ci na wszystko <br />
        Zrobisz co tylko chcesz <br />
        Możesz stworzyć co chcesz <br />        
    </p>
</div>
