@{
    ViewBag.Title = "Więcej informacji";
}

<div class="myh2title">
 @ViewBag.Message
</div>

<div>
 <div class="col-sm-11 col-md-9 col-lg-8 mytitlediv"> 
    <p>
        Dzięki utworzeniu konta na naszej stronie Twoje życie będzie lepsze! <br />
        Zdasz sobie sprawę, że organizacja, a także przeglądanie turniejów,<br />
        jeszcze nigdy nie była taka łatwe!<br />
        Strona ta pozwoli Ci na wszystko. <br />
        Zrobisz co tylko chcesz. <br />
        Możesz stworzyć co chcesz.        
    </p>
    <p>
        Dzięki utworzeniu konta na naszej stronie Twoje życie będzie lepsze! <br />
        Zdasz sobie sprawę, że organizacja, a także przeglądanie turniejów,<br />
        jeszcze nigdy nie była taka łatwe!<br />
        Strona ta pozwoli Ci na wszystko. <br />
        Zrobisz co tylko chcesz. <br />
        Możesz stworzyć co chcesz.
    </p>
    <p>
        Dzięki utworzeniu konta na naszej stronie Twoje życie będzie lepsze! <br />
        Zdasz sobie sprawę, że organizacja, a także przeglądanie turniejów,<br />
        jeszcze nigdy nie była taka łatwe!<br />
        Strona ta pozwoli Ci na wszystko. <br />
        Zrobisz co tylko chcesz. <br />
        Możesz stworzyć co chcesz.
    </p>
    <p>
        Dzięki utworzeniu konta na naszej stronie Twoje życie będzie lepsze! <br />
        Zdasz sobie sprawę, że organizacja, a także przeglądanie turniejów,<br />
        jeszcze nigdy nie była taka łatwe!<br />
        Strona ta pozwoli Ci na wszystko. <br />
        Zrobisz co tylko chcesz. <br />
        Możesz stworzyć co chcesz.
    </p>
    <p>
        Dzięki utworzeniu konta na naszej stronie Twoje życie będzie lepsze! <br />
        Zdasz sobie sprawę, że organizacja, a także przeglądanie turniejów,<br />
        jeszcze nigdy nie była taka łatwe!<br />
        Strona ta pozwoli Ci na wszystko. <br />
        Zrobisz co tylko chcesz. <br />
        Możesz stworzyć co chcesz.
    </p>
    <p>
        Dzięki utworzeniu konta na naszej stronie Twoje życie będzie lepsze! <br />
        Zdasz sobie sprawę, że organizacja, a także przeglądanie turniejów,<br />
        jeszcze nigdy nie była taka łatwe!<br />
        Strona ta pozwoli Ci na wszystko. <br />
        Zrobisz co tylko chcesz. <br />
        Możesz stworzyć co chcesz.
    </p>
  </div>
  <div class="col-sm-0 col-md-3 col-lg-4"></div>
</div>